!!! 5
%html{:lang => 'en'}
  %head
    %title= "KittenBreak 2! #{genre}"
    %script{:src => 'js/lib/json2.js'}
    %script{:src => 'js/lib/jquery-1.10.1.js'}
    %script{:src => 'js/lib/underscore.js'}
    %script{:src => 'js/lib/backbone.js'}      
    %link{:rel => "stylesheet", :href=>"http://twitter.github.com/bootstrap/assets/css/bootstrap.css"}
    %script{:src => 'http://twitter.github.com/bootstrap/assets/js/bootstrap.min.js'}
    %script{:src => 'js/backboneapp/app-kittens.js'}
      
  %body
    %header.navbar
      .navbar-inner
        %a.brand{:href => url('/')}
          = "KittenBreak 2! #{genre}"
    .row-fluid
      .span4.offset2
        .alert.alert-block.alert-info
          %button.close{:type => 'button', :data => {:dismiss => 'alert'}} &times;
          Click on the image to see another!
    .row-fluid
      .span4.offset2
        #content
          #kitten_container
            %img.kitten_image{:src => 'icons/please_wait.gif'}


            
    %footer.navbar.navbar-fixed-bottom
      .navbar-inner
        %ul.nav.nav-pills
          - genres.each do |g|
            %li
              %a{:href => url("/#{g}")}
                = g
            
    :javascript
      $(function() {
        var kitten = new Kitten();
        var kittenView = new KittenView({model: kitten});
        kittenView.render();
        console.log("kitten.source: " + kitten.get("source"));
        console.log("kittenView.el.nodeName: " + kittenView.el.nodeName);
        console.log("kittenView.el.id: " + kittenView.$el.attr("id"));
        console.log("kittenView.el.html: " + kittenView.$el.html());
      })