!!! 5
%html{:lang => 'en'}
  %head
    %title= "KittenBreak 2! #{genre}"
    %link{:rel => "stylesheet", :href=>"//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"}
  %body
    %header.navbar
      .navbar-inner
        %a.brand{:href => url('/')}
          = "KittenBreak 2! #{genre}"
    .row-fluid
      .span4.offset2
        .alert.alert-block.alert-info
          %button.close{:type => 'button', :data => {:dismiss => 'alert'}} &times;
          Click on the image to see another!
    .row-fluid
      .span4.offset2
        #kitten
          %img#kitten_img{:width => '300',:src => wait_icon}

    %footer.navbar.navbar-fixed-bottom
      .navbar-inner
        %ul.nav.nav-pills
          - genres.each do |g|
            %li
              %a{:href => url("/#{g}")}
                = g
            
          

    %script{:src => 'http://code.jquery.com/jquery-1.9.1.min.js'}
    %script{:src => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"
    :javascript
      var next_kitten = function() {
        $("#kitten_img").attr("src","#{wait_icon}")
        $.ajax({url: "/next"}).done(
          function(x){
            $("#kitten_img").attr("src",x);
          });
        };
      $("#kitten_img").click(next_kitten);
      $("#kitten_img").click();
